# Copy file này, đổi tên thành .env và điền các Key thực tế vào
# TUYỆT ĐỐI KHÔNG PUSH FILE .env LÊN GIT!

MAPBOX_PUBLIC_KEY=dien_token_mapbox_cua_ban_vao_day
OPENWEATHER_API_KEY=dien_key_thoi_tiet_cua_ban_vao_day